.ota {
    width: 600px;
    height: 600px;
    border: 2px solid black;
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

.box1 {
    width: 100px;
    height: 100px;
    background-color: #995DB5;
    display: flex;
    gap: 8px;
    border-radius: 10px;
}

.box2 {
    width: 100px;
    height: 100px;
    background-color: #995DB5;
    gap: 8px;
    border-radius: 10px;
}

.box3 {
    width: 100px;
    height: 100px;
    background-color: #995DB5;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    border-radius: 10px;
}

.box4 {
    width: 100px;
    height: 100px;
    background-color: #995DB5;
    display: flex;
    gap: 8px;
    border-radius: 10px;

}

.box5 {
    width: 100px;
    height: 100px;
    background-color: #995DB5;
    display: flex;
    gap: 4px;
    border-radius: 10px;
}

.box6 {
    width: 100px;
    height: 100px;
    background-color: #995DB5;
    display: flex;
    justify-content: end;
    border-radius: 10px;
}

.box7 {
    width: 100px;
    height: 100px;
    background-color: #995DB5;
    display: flex;
    justify-content: center;
    gap: 4px;
    border-radius: 10px;
}

.box8 {
    width: 100px;
    height: 100px;
    background-color: #995DB5;
    display: flex;
    gap: 8px;
    border-radius: 10px;
}

.box9 {
    width: 100px;
    height: 100px;
    background-color: #995DB5;
    display: flex;
    gap: 4px; 
    border-radius: 10px;
}

.box10 {
    width: 100px;
    height: 100px;
    background-color: #995DB5;
    display: flex;
    align-items: end;
    gap: 4px;
    border-radius: 10px;
}

.box11 {
    width: 100px;
    height: 100px;
    background-color: #995DB5;
    gap: 5px;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.box12 {
    width: 100px;
    height: 100px;
    background-color: #995DB5;
    display: flex;
    gap: 8px;
    border-radius: 10px;
}

.bir {
    width: 30px;
    height: 30px;
    border-radius: 8px;
    border: 1px;
    background-color: #F7941F;
}

.ikki {
    width: 30px;
    height: 30px;
    border-radius: 8px;
    border: 1px;
    background-color: #F7941F;
}

.uch {
    width: 30px;
    height: 30px;
    border-radius: 8px;
    border: 1px;
    background-color: #F7941F;
}

.tor {
    width: 30px;
    height: 30px;
    border-radius: 8px;
    border: 1px;
    background-color: #F7941F;
}

.besh {
    width: 30px;
    height: 30px;
    border-radius: 8px;
    border: 1px;
    background-color: #F7941F;
}

.olti {
    width: 30px;
    height: 30px;
    border-radius: 8px;
    border: 1px;
    background-color: #F7941F;
}

.yetti {
    width: 30px;
    height: 30px;
    border-radius: 8px;
    border: 1px;
    background-color: #F7941F;
}

.sakkiz {
    width: 30px;
    height: 30px;
    border: 1px;
    border-radius: 8px;
    background-color: #F7941F;
}

.toqqiz {
    width: 30px;
    height: 30px;
    border: 1px;
    border-radius: 8px;
    background-color: #F7941F;
}

.on {
    width: 30px;
    height: 30px;
    border-radius: 8px;
    background-color: #F7941F;
    border: 1px;
}

.onbir {
    width: 30px;
    height: 30px;
    border-radius: 8px;
    border: 1px;
    background-color: #F7941F;
}

.tex1 {
    width: 30px;
    height: 30px;
    border-radius: 8px;
    border: 1px;
    background-color: #F7941F;
}

.tex2 {
    width: 30px;
    height: 30px;
    border-radius: 8px;
    border: 1px;
    background-color: #F7941F;
}

.tex3 {
    width: 30px;
    height: 30px;
    border-radius: 8px;
    border: 1px;
    background-color: #F7941F;
}

.tex4 {
    width: 30px;
    height: 30px;
    border-radius: 8px;
    border: 1px;
    background-color: #F7941F;
}

.tex5 {
    width: 30px;
    height: 30px;
    border-radius: 8px;
    border: 1px;
    background-color: #F7941F;
}

.tex6 {
    width: 30px;
    height: 30px;
    border-radius: 8px;
    border: 1px;
    background-color: #F7941F;

}

.tex7 {
    width: 30px;
    height: 30px;
    border-radius: 8px;
    border: 1px;
    background-color: #F7941F;
}

.tex8 {
    width: 30px;
    height: 30px;
    border-radius: 8px;
    border: 1px;
    background-color: #F7941F;
}

.tex9 {
    width: 30px;
    height: 30px;
    border-radius: 8px;
    border: 1px;
    background-color: #F7941F;
}

.tex10 {
    width: 30px;
    height: 30px;
    border-radius: 8px;
    border: 1px;
    background-color: #F7941F;
}

.tex11 {
    width: 30px;
    height: 30px;
    border-radius: 8px;
    border: 1px;
    background-color: #F7941F;
}

.tex12 {
    width: 30px;
    height: 30px;
    border-radius: 8px;
    border: 1px;
    background-color: #F7941F;
}

.tex13 {
    width: 30px;
    height: 30px;
    border-radius: 8px;
    border: 1px;
    background-color: #F7941F;
}

.tex14 {
    width: 30px;
    height: 30px;
    border-radius: 8px;
    border: 1px;
    background-color: #F7941F;
}

.tex15 {
    width: 30px;
    height: 30px;
    border-radius: 8px;
    border: 1px;
    background-color: #F7941F;
}

.tex16 {
    width: 30px;
    height: 30px;
    border-radius: 8px;
    border: 1px;
    background-color: #F7941F;
}

.tex17 {
    width: 30px;
    height: 30px;
    border-radius: 8px;
    border: 1px;
    background-color: #F7941F;
}

.tex18 {
    width: 30px;
    height: 30px;
    border-radius: 8px;
    border: 1px;
    background-color: #F7941F;
}

.tex19 {
    width: 30px;
    height: 30px;
    border-radius: 8px;
    border: 1px;
    background-color: #F7941F;
}

.tex20 {
    width: 30px;
    height: 30px;
    border-radius: 8px;
    border: 1px;
    background-color: #F7941F;
}

.tex21 {
    width: 30px;
    height: 30px;
    border-radius: 8px;
    border: 1px;
    background-color: #F7941F;
}

.tex22 {
    width: 30px;
    height: 30px;
    border-radius: 8px;
    border: 1px;
    background-color: #F7941F;
}

.tex23 {
    width: 30px;
    height: 30px;
    border-radius: 8px;
    border: 1px;
    background-color: #F7941F;
}

.tex24 {
    width: 30px;
    height: 30px;
    border-radius: 8px;
    border: 1px;
    background-color: #F7941F;
}

.tex25 {
    width: 30px;
    height: 30px;
    border-radius: 8px;
    border: 1px;
    background-color: #F7941F;
}

.tex26 {
    width: 30px;
    height: 30px;
    border-radius: 8px;
    border: 1px;
    background-color: #F7941F;
}

.tex27 {
    width: 30px;
    height: 30px;
    border-radius: 8px;
    border: 1px;
    background-color: #F7941F;
}